version: '3.9'
services:
  mongodb:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: docdbuser
      MONGO_INITDB_ROOT_PASSWORD: Admin_123
      MONGO_INITDB_DATABASE: business
    ports:
      - 27017:27017
    volumes:
      - ./mongo-volume:/data/db